# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
env

sudo wget -qO - https://screenrec.com/download/pub.asc | sudo apt-key add -
sudo add-apt-repository 'deb https://screenrec.com/download/ubuntu stable main'
sudo apt update
sudo apt install screenrec